@import "./theme.module.css";

.section {
    composes: themeTokens from "./theme.module.css";
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
}

.title {
    composes: label from "./theme.module.css";
}

.container1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}
